@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Navigation */
    .bg-dark {
        background-color: #2f3645 !important;
    }

    .navbar-brand {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    .navbar-dark .navbar-nav .nav-link {
        margin-bottom: 5px;
        
    }

    .navbar-dark .navbar-nav .nav-link:hover {
       color: rgba(255, 166, 0, 0.692);
    }

    .navbar-collapse {
        text-align: center;
    }

/* Navigation End */

/* Home */

.container-home {
    background: url(../images/home-background.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 0;
}   

/* Jumbotron */

.container-home .jumbotron {
    background-color: rgba(0, 0, 0, 0.247);
    height: 90%;
    margin-left: 25px;
}

.jumbotron .jumbo-heading,
.lead {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.jumbotron .btn-home {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    transition: 15ms;
}

.jumbotron .btn-home:hover,
.jumbotron .btn-home:active,
.jumbotron .btn-home:focus {
    outline: 4px solid #bec9e4;
    color: #fff;
}

/* Jumbotron End */

/* Block divider */

.container-home .block-divider {
    background-color: orange;
}

/* Home Animation */

/*  Credit: Dev Ed https://www.youtube.com/watch?v=sN93DRYkCO8 - code slightly modified to fit project needs */

.intro {
    background-color: #070e14;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    background-color: rgb(198, 214, 240);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    transform: translateY(100%);
}

.intro-text {
    color: rgb(227, 242, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

.hide {
    background-color: #070e14;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

/* Home Animation End */

/* Footer Home - Social links */

.footer-home {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    background-color: transparent;
    position: absolute;
    bottom: 40px;
}

.footer-home .social-links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 50%;
    height: auto;
    background-color: transparent;
    transition: width 1s;
}

.footer-home .social-links:hover, 
.footer-home .social-links:active 
.footer-home .social-links:focus {
    width: 70%;
} 



.footer-home .social-links i {
    font-size: 25px;
    color: #fff;
    padding-right: 10px;
}


/* Footer End */

/* Home End */


/* About */

.container-about {
     background: url(../images/about-image.jpg) no-repeat 30% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-about .about-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #ffd8c6;
    letter-spacing: 2px;
}

.container-about-content {
    width: 100%;
    min-height: 50vh;
    background-color: #ad65129e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.row-about {
    display: flex;
    justify-content: center;
}

.container-about-content .section-about {
    width: 100%;
    height: auto;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.container-about-content .text-about-wrapper {
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 8px solid #5f6a7f;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px -1px 70px 22px #797979;
    position: relative;
}

.container-about-content .text-about-wrapper .text-about {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    line-height: 35px;
    margin-bottom: 0;
    padding: 35px 20px;
    border: 1px solid #807d7a;
    border-radius: 50px;
    background-color: #d6cac3;
    color: #353535;
    box-shadow: 0px 0px 12px 11px #2f2f2fb5;
}

.container-about-content .text-about-wrapper .text-about::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 35px;
    border: 1px solid #4a505b;
    border-radius: 50%;
    background-color: #ad65125c;
    box-shadow: inset 0px 0px 5px 2px #000000cf;
}


/* About End */

/* Footer About - social links */

.footer-about {
    background-color: #ad65129e;
    width: 100%;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-about .social-links-about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-about .social-links-about i {
    font-size: 28px;
    color: #000;
    transition: 300ms;
}

.footer-about .social-links-about i:hover {
    color: #fff;
}




/* Footer End */

/* Cottages */

.cottages-container {
    width: 100%;
    min-height: 50vh;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    background-color: #e1e7f5;

}

.cottages-container .cottages-heading-container {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #e1e7f5;
    margin-left: -10px;
    margin-right: -10px
}

.cottages-container .cottages-heading {
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    font-weight: 400;
}

.cottages-container .section-cottages {
    width: 100%;
    height: auto;
}

/* Cards */

 /* Used code from this tutorial https://www.youtube.com/watch?v=TN4DoHiWrQQ for the cards bellow and modified it to fit project needs */
 .cottages-container .section-cottages .card-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
} 

.cottages-container .section-cottages .card-box {
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.cottages-container .section-cottages .card-cottages {
    position: relative;
    border-radius: 1rem;
    background-color: transparent;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);

}

.cottages-container .section-cottages .card-cottages img {
    border-radius: calc(1rem - 1px);
    width: 100%;
    height: 100%;
}

.cottages-container .section-cottages .card-cottages .card-body {
    position: absolute;
    bottom: 0;
    padding: 20px;
    z-index: 10;
    backdrop-filter: blur(14px);
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: calc(1rem - 1px);
    border-bottom-right-radius: calc(1rem - 1px);

}

.cottages-container .section-cottages .card-cottages .card-body .card-title {
    color: #fff;
}


.cottages-container .section-cottages .card-cottages .card-body .card-text {
    color: #fff;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.9));
    font-family: 'Montserrat', sans-serif;
}

.cottages-container .section-cottages .card-cottages .card-text .iconBx {
    margin-right: 5px;
}

.cottages-container .section-cottages .card-cottages .card-body .priceBx {
    color: #23d823;
    border-bottom: 1px solid #fff;
}


/* Button hover outline animation tutorial https://www.youtube.com/watch?v=3LlLkapKw6Q . Code modified to fit project needs */
.cottages-container .section-cottages .card-cottages .btn-card {
    background-color: #000;
    border-radius: 0;
    border: 2px solid #fff;
    outline: 2px solid #fff;
    outline-offset: -2px;
    transition: outline-offset 100ms ease;
}

.cottages-container .section-cottages .card-cottages .btn-card:hover,
.cottages-container .section-cottages .card-cottages .btn-card:focus,
.cottages-container .section-cottages .card-cottages .btn-card:active {
    outline-offset: -6px;
    box-shadow: none;

}


/* Cards End */

/* Carousel */

.carousel-container{
    width: 100%;
    min-height: 60vh;
    background-color: #e1e7f5;
    display: none;
    padding-top: 20px;
    transition: height 100ms linear;
}    

.carousel-container .section-carousel {
    width: 100%;
    height: auto;
}

.carousel-container .section-carousel .carousel-heading-box {
    background-color: #e1e7f5;
    padding: 20px 0;
}

.carousel-container .section-carousel .carousel-heading {
    font-family: 'Montserrat', sans-serif;
}

.carousel-container .section-carousel .carousel-one, 
.carousel-two {
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.3);
} 
    


.carousel-container .section-carousel .btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e1e7f5;
    padding: 15px 0;
    margin-bottom: 20px;
}

.carousel-container .section-carousel .btn-bookNow {
    border: 1px solid black;
    border-radius: 0;
    outline: 1px solid black;
    outline-offset: -1px;
    transition: outline-offset 90ms ease, background-color linear 500ms;

}

.carousel-container .section-carousel .btn-bookNow:hover,
.carousel-container .section-carousel .btn-bookNow:focus,
.carousel-container .section-carousel .btn-bookNow:active {
    outline-offset: 3px;
    background: rgb(185 185 189);
    box-shadow: none;
    border-left-width: 3px;
    border-left-color: #b9b9bd;
    border-right-width: 3px;
    border-right-color: #b9b9bd;
}


/* Carousel End */



/* Cottages End */


/* Map */

.container-map {
    width: 100%;
    min-height: 30vh;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #faf7e8;
}

.container-map .map-section {
    padding-bottom: 30px;
}

.container-map .row {
    justify-content: center;
}

.container-map #map {
    min-height: 360px;
}

.container-map .map-text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
}

/* Map End */

/* Footer Cottages */

#footer-cottages {
    background: linear-gradient(45deg, #403d3d, #e1e7f5);
}


/* Footer Cottages End */

/* Book Now  */

.container-book-now {
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/book-now.jpg) no-repeat center right;
    background-size: cover;
}

.container-book-now .section-book-now {
    width: 100%;
    height: auto;
}

.container-book-now .section-book-now .book-now-heading-container {
    padding-top: 50px;
    width: 100%;
    margin: 0 auto;
}

.container-book-now .section-book-now .book-now-heading-container .book-now-heading {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 2.5em;
    padding-top: 15px;
    font-weight: 400;
    color: #fff;
}

/* Form */

.container-book-now .section-book-now .form-container {
    justify-content: center;
    align-items: center;
    min-height: 80%;
    padding-top: 50px;
    padding-bottom: 30px ;
}

.container-book-now .section-book-now .form-container .bookNow-form {
    padding: 10px;
    border: 1px solid #0000002e;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    background-color: #0e1c1c96;

}

.container-book-now .section-book-now .form-container .bookNow-form .form-group-bg {
    background-color: #d0d0d0e6;
}

.container-book-now .section-book-now .form-container .bookNow-form .form-group .input-color {
    color: #000;
}

.container-book-now .section-book-now .form-container .bookNow-form .custom-control {
    color: #fff;
}

.container-book-now .section-book-now .form-container .bookNow-form .form-control {
    color: #fff;
    background-color: #ffffff54;
}


.container-book-now .section-book-now .form-container .bookNow-form .form-control .option-color {
    color: black;
}


.container-book-now .section-book-now .form-container .bookNow-form .form-group .label-color {
    color: #fff;
}

/* Button Book Now */

.container-book-now .section-book-now .form-container .bookNow-form .btn-box .btn-bookNow {
    background-color: #fff;
    border-radius: 0;
    width: 150px;
    transition: width 1s cubic-bezier(0.51, 1.12, 0.54, -0.09), background-color 3s ease;
} 

.container-book-now .section-book-now .form-container .bookNow-form .btn-box .btn-bookNow:hover {
    background-color: rgba(255, 166, 0, 0.692);
    width: 40%;
}

/* Button Book Now End */

/* Button Reset */

.container-book-now .section-book-now .form-container .bookNow-form .btn-box .btn-reset {
    width: 150px;
    border-radius: 0;
}

.container-book-now .section-book-now .form-container .bookNow-form .btn-box .btn-reset-hide {
    display: none;
}


/* Button Reset End */
/* Form Validation */

#form-bookNow .email-box {
    position: relative;
}

#text-message {
    display: block;
    font-weight: 300;
    font-style: italic;
    padding-left: 5px;
    color: #000;
}

#form-bookNow.invalid .email-box::before {
    content: '';
    position: absolute;
    right: 12px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url(../images/invalid.png);
    background-size: cover;
    z-index: 10;
}

#form-bookNow.valid .email-box::before {
    content: '';
    position: absolute;
    right: 12px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url(../images/valid.png);
    background-size: cover;
    z-index: 10;
}

/* Form Validation End */

/* Form End */

/* Book Now end */

/* Footer Book Now */

.footer-bookNow .social-links-bookNow i:hover,
.footer-bookNow .social-links-bookNow i:focus {
    color: #0097da;
}

/* Footer Book Now End */



/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cottages-container .section-cottages .card-cottages {
        height: 600px;
    }
}