@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Navigation */
    .bg-dark {
        background-color: #2f3645 !important;
    }

    .navbar-brand {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    .navbar-collapse {
        text-align: center;
    }

/* Navigation End */

/* Home */

.container-home {
    background: url(../images/home-background.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
}   

.container-home .jumbotron {
    background-color: rgba(0, 0, 0, 0.247);
    height: 90%;
    margin-left: 25px;
}

.jumbotron .jumbo-heading,
.lead {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.jumbotron .btn-home {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    transition: 15ms;
}

.jumbotron .btn-home:hover,
.jumbotron .btn-home:active,
.jumbotron .btn-home:focus {
    outline: 4px solid #bec9e4;
    color: #fff;
}

/* Block divider */

.container-home .block-divider {
    background-color: orange;
}


/* Home End */
