@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Navigation */
    .bg-dark {
        background-color: #2f3645 !important;
    }

    .navbar-brand {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    .navbar-dark .navbar-nav .nav-link {
        margin-bottom: 5px;
        
    }

    .navbar-dark .navbar-nav .nav-link:hover {
       color: rgba(255, 166, 0, 0.692);
    }

    .navbar-collapse {
        text-align: center;
    }

/* Navigation End */

/* Home */

.container-home {
    background: url(../images/home-background.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
}   

/* Jumbotron */

.container-home .jumbotron {
    background-color: rgba(0, 0, 0, 0.247);
    height: 90%;
    margin-left: 25px;
}

.jumbotron .jumbo-heading,
.lead {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.jumbotron .btn-home {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    transition: 15ms;
}

.jumbotron .btn-home:hover,
.jumbotron .btn-home:active,
.jumbotron .btn-home:focus {
    outline: 4px solid #bec9e4;
    color: #fff;
}

/* Jumbotron End */

/* Block divider */

.container-home .block-divider {
    background-color: orange;
}


/* Footer Home - Social links */

.footer-home .social-links {
    position: absolute;
    bottom: 50px;
    left: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 30px;
    height: 100px;
    width: 15%;
    background-color: transparent;
    padding-top: 35px;
    transition: width 1s;
    z-index: 7;
}

.footer-home .social-links:hover, 
.footer-home .social-links:active 
.footer-home .social-links:focus {
    width: 40%;
} 



.footer-home .social-links i {
    font-size: 25px;
    color: #fff;
    padding-right: 10px;
}


/* Footer End */

/* Home End */


/* About */

.container-about {
     background: url(../images/about-image.jpg) no-repeat 30% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-about .about-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #ffd8c6;
    letter-spacing: 2px;
}

.container-about-content {
    width: 100%;
    min-height: 50vh;
    background-color: #ad65129e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.row-about {
    display: flex;
    justify-content: center;
}

.container-about-content .section-about {
    width: 100%;
    height: auto;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.container-about-content .text-about-wrapper {
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 8px solid #5f6a7f;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px -1px 70px 22px #797979;
    position: relative;
}

.container-about-content .text-about-wrapper .text-about {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    line-height: 35px;
    margin-bottom: 0;
    padding: 35px 20px;
    border: 1px solid #807d7a;
    border-radius: 50px;
    background-color: #d6cac3;
    color: #353535;
    box-shadow: 0px 0px 12px 11px #2f2f2fb5;
}

.container-about-content .text-about-wrapper .text-about::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 35px;
    border: 1px solid #4a505b;
    border-radius: 50%;
    background-color: #ad65125c;
    box-shadow: inset 0px 0px 5px 2px #000000cf;
}


/* About End */

/* Footer About - social links */

.footer-about {
    background-color: #ad65129e;
    width: 100%;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-about .social-links-about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-about .social-links-about i {
    font-size: 28px;
    color: #000;
    transition: 300ms;
}

.footer-about .social-links-about i:hover {
    color: #fff;
}




/* Footer End */

/* Cottages */

.cottages-container {
    width: 100%;
    min-height: 60vh;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;

}

.cottages-container .cottages-heading-container {
    margin-top: 20px;
    margin-bottom: 15px;
}

.cottages-container .cottages-heading {
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    background-color: grey;
}

.cottages-container .section-cottages {
    width: 100%;
    height: auto;
}

/* Cards */

 /* Used code from this tutorial https://www.youtube.com/watch?v=TN4DoHiWrQQ for the cards bellow and modified it to fit project needs */
 .cottages-container .section-cottages .card-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
} 

.cottages-container .section-cottages .card-box {
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.cottages-container .section-cottages .card-cottages {
    position: relative;
    border-radius: 1rem;
    background-color: transparent;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);

}

.cottages-container .section-cottages .card-cottages img {
   border-radius: calc(1rem - 1px);
   width: 100%;
   height: 100%;
}

.cottages-container .section-cottages .card-cottages .card-body {
    position: absolute;
    bottom: 0;
    padding: 20px;
    z-index: 10;
    backdrop-filter: blur(14px);
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: calc(1rem - 1px);
    border-bottom-right-radius: calc(1rem - 1px);

}

.cottages-container .section-cottages .card-cottages .card-body .card-title {
    color: #fff;
}


.cottages-container .section-cottages .card-cottages .card-body .card-text {
    color: #fff;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.9));
    font-family: 'Montserrat', sans-serif;
}

.cottages-container .section-cottages .card-cottages .card-text .iconBx {
    margin-right: 5px;
}

.cottages-container .section-cottages .card-cottages .card-body .priceBx {
    color: #23d823;
    border-bottom: 1px solid #fff;
}


/* Button hover outline animation tutorial https://www.youtube.com/watch?v=3LlLkapKw6Q . Code modified to fit project needs */
.cottages-container .section-cottages .card-cottages .btn-card {
    background-color: #000;
    border-radius: 0;
    border: 2px solid #fff;
    outline: 2px solid #fff;
    outline-offset: -2px;
    transition: outline-offset 100ms ease;
}

.cottages-container .section-cottages .card-cottages .btn-card:hover,
.cottages-container .section-cottages .card-cottages .btn-card:focus,
.cottages-container .section-cottages .card-cottages .btn-card:active {
    outline-offset: -6px;
    box-shadow: none;

}


/* Cards End */

/* Carousel */



/* Carousel End */


.carousel-container{
    width: 100%;
    min-height: 100vh;
}    

.carousel-container .section-carousel {
    width: 100%;
    height: auto;
}

.carousel-container .section-carousel .carousel-heading {
    font-family: 'Montserrat', sans-serif;
}

.carousel-container .section-carousel .carousel-heading-box {
    background-color: rgb(177, 170, 170);
    padding: 20px 0;
}


.carousel-container .section-carousel .btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #cbd5ee85;
    padding: 15px 0;
    margin-bottom: 20px;
}

.carousel-container .section-carousel .btn-bookNow {
    border: 1px solid black;
    border-radius: 0;
    outline: 1px solid black;
    outline-offset: -1px;
    transition: outline-offset 90ms ease, background-color linear 500ms;

}

.carousel-container .section-carousel .btn-bookNow:hover,
.carousel-container .section-carousel .btn-bookNow:focus,
.carousel-container .section-carousel .btn-bookNow:active {
    outline-offset: 3px;
    background: rgb(185 185 189);
    box-shadow: none;
    border-left-width: 3px;
    border-left-color: #b9b9bd;
    border-right-width: 3px;
    border-right-color: #b9b9bd;
}





/* Cottages End */

